.box-container {
  @include make-xs-column(12, 0);
  @include make-sm-column(6);
  margin-bottom: rem-calc(36);
  @media all and (max-width: $screen-xs-max) {
    padding: 0 !important;
  }
}

.box {
  @include make-xs-column(12);
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 24%;
  padding-bottom: 3%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & > * {
    color: white;
    @include make-xs-column(12);
  }

  h3 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }

  .subtitle {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
  }
}

.menu-box-container {
  @include make-xs-column(11, 0);
  @include make-sm-column(4);
  @include make-md-column(3);
  margin-bottom: rem-calc(24);
  &:first-child {
    padding-left: 0 !important;
  }
  @media all and (max-width: $screen-xs-max) {
    padding: 0 !important;
  }
}

.menu-box {
  @include make-xs-column(12);
  background-color: rgba(0, 0, 0, 0.3);
  padding-top: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  & > * {
    color: white;
    position: absolute;
    bottom: 10px;
  }
}
