.link-component {
  @include make-xs-column(12, 0);
  // max-width: 300px;
  text-decoration: none;
  margin-bottom: rem-calc(24);
  color: #777;
  clear: both;
  .is-rare {
    display: inline-block;
    font-size: 13px;
    color: $brand-warning;
  }
  &__img {
    @include make-xs-column(3.5);
    padding-bottom: 2/12*100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  &__text {
    @include make-xs-column(8.5);
  }
}

.route-component {
  @include make-xs-column(12, 0);
  margin-bottom: rem-calc(80);
  color: #777;
  &__img {
    @include make-xs-column(12, 0);
    @include make-md-column(5, 0);
    @media (max-width: $screen-sm-max) {
      margin-bottom: 2rem;
    }
  }
  &__text {
    @include make-xs-column(12, 0);
    @include make-md-column(7);
  }
}

.outer-link {
  padding-bottom: 2rem !important;
  & a {
    padding: rem-calc(12);
    background-color: #eff6ff;
    font-size: rem-calc(21);
  }
}

.species-wrapper {
  @include make-row();
  .link-component {
    @include make-xs-column(12);
    @include make-sm-column(6);
    @include make-md-column(4);
    @include make-lg-column(3);
    clear: none !important;
  }
}
