footer {
  margin-top: 4rem;
  background-color: #000;
  color: #FFF;
  padding: 2rem 0;

  .location-helsinki & {
    background-color: $color--helsinki-fog;
    margin-top: 0;
  }

  .location-tallinn &, .location-tallinna & {
    background-color: $color--tallinn-blue;
  }

  .footer-menu-column {
    @include make-sm-column(12);

    .footer-links-menu {
      padding: 0;
      margin: 0;
      list-style-type: none;

      > li {
        display: inline-block;
        padding: 1.5rem;
        > a {
          color: #FFF;
        }
      }
    }
  }

  .footer-text-column {
    @include make-sm-column(12);
    text-align: center;
    font-size: 1.4rem;
  }

  .footer-logo-column {
    @include make-sm-column(12);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;

    .footer-logo-img {
      width: 20rem;
      height: auto;
    }
  }
}

.helsinki-pulse {
  @include koro('pulse', $color--helsinki-fog, 200);
  height: 2rem;
  margin-top: 4rem;
}