footer {
  margin-top: 4rem;
  background-color: #000;
  color: #FFF;
  padding: 2rem 0;

  .location-helsinki & {
    background-color: $color--helsinki-green;
  }

  .location-tallinn &, .location-tallinna & {
    background-color: $color--tallinn-blue;
  }

  .footer-menu-column {
    @include make-sm-column(12);

    .footer-links-menu {
      padding: 0;
      margin: 0;
      list-style-type: none;

      > li {
        display: inline-block;
        padding: 1.5rem;
        > a {
          color: #FFF;
        }
      }
    }
  }
}