.front {
  @extend .container-fluid;
  &__filter {
    @include make-xs-column(12);
    padding-bottom: rem-calc(48);
    .fa {
      line-height:  $line-height-base;
      @include make-xs-column(1, 0);
      color: $brand-info !important;
    }
    a {
      @include make-xs-column(11, 0);
      color: $brand-info !important;
    }
  }
  &__content {
    @include make-row();
  }
  &__home {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}