.front {
  @extend .container-fluid;
  &__filter {
    @include make-xs-column(12);
    color: $brand-info;
    padding-bottom: rem-calc(48);
    .fa {
      line-height:  $line-height-base;
    }
  }
  &__content {
    @include make-row();
  }
  &__preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}