.header {
  @extend .container-fluid;
  position: relative;
  padding-bottom: rem-calc(18);
  letter-spacing: .5px;
  &--main {
    padding-top: rem-calc(108);
  }
  &--place {
    padding-top: rem-calc(84);
    * {
      color: white !important;
    }
  }

  &__nav {
    @include make-xs-column(11, 0);
    position: absolute;
      top: rem-calc(24);
    & > * {
      color: $brand-info;
      line-height: $line-height-base;
    }
    &__sidemenu {
      @include make-xs-column(1, 0);
    } 
    &__link {
      @include make-xs-column(10);
    }
    &__map {
      @include make-xs-column(1, 0);
      text-align: right;
    }
  }
  &__texts {
    @include make-xs-column(12);
  }
}