.location {
  &__preview, &__intro, &__services, &__nature {
    @extend .container-fluid;
    @include content-section();
  }
  &__tabs {
    @include make-xs-column(12);
    list-style: none;
    margin: rem-calc(24 0 -18);
    & > li {
      display: inline-block;
      padding: rem-calc(0 3 12);
    }
    .active {
      border-bottom: 2px solid white;
    }
  }
}