.location {
  &__tabs {
    @include make-xs-column(12, 0);
    @include make-sm-column(12);
    list-style: none;
    margin: rem-calc(24 0 -18);
    & > li {
      font-size: rem-calc(18);
      display: inline-block;
      padding: rem-calc(0 1 12);
      @media all and (min-width: $screen-sm-min) {
        font-size: initial;
        padding: rem-calc(0 12 12);
      }
    }
    .active {
      border-bottom: 2px solid white;
    }
  }
  &__home, &__intro, &__services, &__nature, &__history {
    padding-top: rem-calc(18);
    @include content-section();

    #introImages {
      display: none;
    }
    #introGallery {
      display: initial;
      .slick-slide {
        margin: rem-calc(12);
        height: rem-calc(222);
        width: auto !important;
        img {
          height: 100%;
        }
      }
      .slick-dots {
        position: static;
      }
    }
    .route-link > a {
      padding: rem-calc(12);
      background-color: #EFF6FF;
      font-size: rem-calc(21);
    }

    @media all and (min-width: $screen-sm-min) {
      #introImages {
        display: initial;
        & > * {
          display: block;
          padding-bottom: rem-calc(6);
        }
      }
      #introGallery {
        display: none;
      }
      .sm-lift {
        top: rem-calc(-90);
        .graphic-content {
          @include make-xs-column(12);
        }
      }
    }
  }
}