@mixin placeholder($color: $gray) {
  ::-webkit-input-placeholder {
    color: $color;
    font-weight: 300;
  }
  ::-moz-placeholder {
    color: $color;
    font-weight: 300;
  }
  :-ms-input-placeholder {
    color: $color;
    font-weight: 300;
  }
}

@mixin image-replace() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin content-section() {
  .location {
    &__content {
      &--left {
        @include make-xs-column(12, 0);
        @include make-sm-column(7);
        padding-top: rem-calc(18);
      }
      &--right {
        @include make-xs-column(12, 0);
        @include make-sm-column(5);
        padding-top: rem-calc(18);
      }
    }
    &__text-content {
      @include make-xs-column(12);
      padding-bottom: rem-calc(18);
      .nav-link {
        padding-bottom: rem-calc(18);
        color: $brand-info;
      }
    }
    &__graphic-content {
      @include make-xs-column(12, 0);
      padding-bottom: rem-calc(36);
      > * {
        width: 100%;
      }
    }
  }
}
