@mixin placeholder($color: $gray) {
   ::-webkit-input-placeholder {
    color: $color;
    font-weight: 300;
  }
   ::-moz-placeholder {
    color: $color;
    font-weight: 300;
  }
   :-ms-input-placeholder {
    color: $color;
    font-weight: 300;
  }
}

@mixin image-replace() {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin content-section() {
  .content {
    &--left {
      @include make-xs-column(12, 0);
      @include make-sm-column(7);
      margin-top: rem-calc(24);
    }
    &--right {
      @include make-xs-column(12, 0);
      @include make-sm-column(5);
      margin-top: rem-calc(18);
    }
  }
  .text-content {
    @include make-xs-column(12);
    padding-bottom: rem-calc(18);
    .nav-link {
      display: inline-block;
      margin-bottom: rem-calc(18);
      color: $brand-info;
    }
    hr {
      @include make-xs-column(12, 0);
    }
  }
  .graphic-content {
    @include make-xs-column(12, 0);
    margin-bottom: rem-calc(36);
    img {
      width: 100%;
    }
  }
}

@mixin modal {
  @include content-section();
  display: flex;
  flex-direction: column;
  z-index: 999999;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  overflow-x: hidden;
  &__header-container {
    flex: none;
    @include make-xs-column(12, 0);
    padding-top: rem-calc(24);
    padding-bottom: rem-calc(24);
    border-bottom: 1px solid $gray-lighter;
    margin-bottom: rem-calc(36);
  }
  &__header {
    @include make-xs-column(12);
    color: $brand-info;
    text-align: center;
    >i {
      float: right;
    }
    .close-modal {
      cursor: pointer;
    }
  }
  .graphic-content {
    flex: 1;
  }
}
